
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --var-paddingHeader: 20px;
    --var-colorBoder: #CFD4DD;
    --var-FontMain: "Open Sans", serif;
    --var-FontDetailed: "Montserrat", serif;
    --var-borderMain: 1px solid var(--var-colorBoder);
    --var-colorTitlesForm: #1A1D23;
    --var-purpleLogo: #49078F;
}
.header-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    position: fixed;
    top: 0px;
    border-bottom: var(--var-borderMain);
    background-color: transparent;
}
.header-page-container{
    width: 100%;
    max-width: 85%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--var-paddingHeader);
}
.logo img{
    width: auto;
    height: 30px;
}


.user-section-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px 20px;
    border: 1px solid rgb(116, 116, 116);
    border-radius: 30px;
    gap: 5px
}
.user-section-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-IMG{
    border-radius: 100%;
    height: 30px;
}

.user-section-container span{
    font-family: var(--var-FontDetailed);
    font-size: 11pt;
}

@media (max-width: 750px) {
    .user-section-container{
        border: none;
    }
    .user-section-container span{
        display: none;
    }
}



/*seção principal*/
.section-main{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    position: absolute;
    top: 80px;
    left: 6%;
    width: 100%;
    max-width: 88%;
    padding-top: 30px;
}
.master-container-forms{
    width: 50%;
}
.master-container-forms header{
    padding-top: 10px;
    padding-bottom: 20px;
}
.master-container-forms header h1{
    font-family: var(--var-FontMain);
    font-size: 30pt;
    font-weight: 500;
    color: var(--var-colorTitlesForm);
}

.controler-typeof-delivery header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.title-section-form{
    font-family: var(--var-FontMain);
    font-size: 13pt;
    font-weight: 700;
    color: var(--var-colorTitlesForm);
}

.controler-typeof-delivery header label{
    font-family: var(--var-FontMain);
    font-size: 12pt;
    font-weight: 500;
}
/* Esconde o checkbox original */
input[type="checkbox"] {
    display: block;
    opacity: 0;
}

/* Estilização do rótulo do checkbox */
label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

/* Criando o checkbox personalizado */
label::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 1px solid gray;
    border-radius: 100%;
    margin-right: 10px;
    display: inline-block;
    transition: 0.2s;
}

/* Quando o checkbox está marcado */
input[type="checkbox"]:checked + label::before {
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background-color: var(--var-purpleLogo);
    box-shadow: inset 0 0 0 2px white; /* Cria um espaçamento branco interno */
}
.container-info-end{
    margin-top: 20px;
}

.container-select-end{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: calc(100% - 40px);
    height: 80px;
    padding: 0px 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--var-colorBoder);
    cursor: pointer;
}
.container-select-end:hover{
    background-color: rgb(242, 242, 242);
}
.actived-end{
    display: flex;
    transition: 0.2s;
}

.buttonAddEndereço{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.buttonAddEndereço div{
    background-color: #49078f28;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;

}
.buttonAddEndereço div img{
    height: 20px;
    width: auto;
}
.buttonAddEndereço p{
    font-family: var(--var-FontMain);
    font-size: 12pt;
}

.options-entrega{
    margin-top: 30px;
}